<div class="bg-primary"> 
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">
                                        {{ cadastrando ? 'Cadastre-se' : 'Entrar' }}
                                    </h3>
                                </div>

                                <div class="card-body">
                                    <div class="alert alert-success" *ngIf="mensagemSucesso">
                                        {{ mensagemSucesso }}
                                    </div>
                                    <div class="alert alert-danger" *ngFor="let erro of errors">
                                        {{ erro }}
                                    </div>
                                    <div class="alert alert-danger" *ngIf="">
                                        Login e/ou senha incorreto(a).
                                    </div>

                                    <form #loginForm="ngForm" (submit)="onSubmit()">
                                        <div class="form-group" *ngIf="cadastrando">
                                            <label class="small mb-1"> Nome </label>
                                            <input [(ngModel)]="nome" name="nome"
                                                class="form-control py-4" type="text"
                                                placeholder="Digite seu nome">
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1"> Login </label>
                                            <input [(ngModel)]="email" name="email"
                                                class="form-control py-4" type="text"
                                                placeholder="Digite seu login">
                                        </div>

                                        <div class="form-group">
                                            <label class="small mb-1"> Senha </label>
                                            <input [(ngModel)]="senha" name="senha"
                                                class="form-control py-4" type="password"
                                                placeholder="Digite sua senha">
                                        </div>

                                        <div class="form-group align-intems-center justify-content-between mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary" *ngIf="!cadastrando">
                                                <i class="fa fa-sign-in-alt"></i>
                                                Entrar
                                            </button>

                                            <button type="button" class="btn btn-success"
                                                    (click)="cadastrar()" *ngIf="cadastrando">
                                                <i class="fa fa-plus-circle"></i>
                                                Cadastrar
                                            </button>

                                            <button type="button" (click)="cancelaCadastro()"
                                                    class="btn btn-danger ml-1" *ngIf="cadastrando">
                                                <i class="fa fa-arrow-alt-circle-left"></i>
                                                Cancelar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center" *ngIf="!cadastrando">
                                    <div class="small">
                                        <a href="#" (click)="preparaCadastrar($event)">
                                            Não possui login? Cadastre-se!
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>