<app-navbar></app-navbar>

<div id="layoutSidenav">
  <app-sidebar></app-sidebar>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">

        <router-outlet></router-outlet> <!-- onde ficam os components -->

      </div>
    </main>

    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; @vagnereix 2021</div>
              <div>
                  <a href="#">Política de Privacidade</a>
                  &middot;
                  <a href="#">Termos &amp; Condições</a>
              </div>
          </div>
      </div>
    </footer>
  </div>

</div>
