<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Cadastros</div>

                <a class="nav-link collapsed" routerLink="/usuario" data-toggle="collapse" 
                data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                    Usuários
                </a>

                <a class="nav-link collapsed" routerLink="/cartao" data-toggle="collapse" data-target="#collapsePages" 
                aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Cartões
                </a>

            </div>
        </div>

        
        <div class="sb-sidenav-footer">
            <div class="small">Logado como:</div>
            {{ usuarioLogado }}
        </div>

        <div class="nav">
            <a href="#" class="nav-link collapsed" (click)="logout()" data-toggle="collapse" data-target="#collapsePages" 
                aria-expanded="false" aria-controls="collapsePages">
                <i class="fa fa-sign-out-alt"></i>
                Sair
            </a>
        </div>
    </nav>
</div>